<ion-content [fullscreen]="true">
  <!-- Contenedor general con la imagen de fondo -->
  <div id="background-container">
    <img src="assets/img/san-joaquin.jpg" alt="Fondo edificio DuocUC" id="background-image">
    
    <!-- Logo centrado -->
    <div id="logo-container">
      <img src="assets/img/duoc.png" alt="Logo DuocUC" id="duoc-logo">
    </div>

    <!-- Formulario para restablecer contraseña -->
    <div id="content-container" class="slide-up">
      <div class="reset-card">
        <ion-card-header><br>
          
          <ion-card-title class="ion-text-center">Restablecer Contraseña</ion-card-title>
          <p class="ion-text-center">Introduce tu correo y la nueva contraseña</p>
        </ion-card-header>

        <ion-card-content>
          <form (submit)="cambiarContrasena($event)">
            <div class="input-container">
              <ion-item class="custom-input-item">
                <ion-icon name="mail-outline" slot="start"></ion-icon>
                <ion-input type="email" placeholder="Correo" [(ngModel)]="email" name="email" required></ion-input>
              </ion-item>

              <ion-item class="custom-input-item">
                <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                <ion-input type="password" placeholder="Nueva Contraseña" [(ngModel)]="nuevaContrasena" name="nuevaContrasena" required></ion-input>
              </ion-item>

              <ion-item class="custom-input-item">
                <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                <ion-input type="password" placeholder="Confirmar Contraseña" [(ngModel)]="confirmarContrasena" name="confirmarContrasena" required></ion-input>
              </ion-item>
            </div>

            <ion-button expand="block" type="submit" class="reset-button">Restablecer Contraseña</ion-button>
          </form>

          <div class="back-to-login">
            <a (click)="GoToBack()">Volver al inicio de sesión</a>
          </div>
        </ion-card-content>
      </div>
    </div>
  </div>
</ion-content>
