<header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="header">
    <ion-button class="close-page" (click)="closePage()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
    <h1 class="page-title">Ofrecer vehiculo</h1>
  </div>


  <div class="offer-container">
    <ion-item>
      <ion-label position="floating">Marca del Vehículo</ion-label>
      <ion-input [(ngModel)]="vehicleBrand"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Modelo</ion-label>
      <ion-input [(ngModel)]="vehicleModel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Color</ion-label>
      <ion-input [(ngModel)]="vehicleColor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Lugar de Salida</ion-label>
      <ion-input [(ngModel)]="pickupLocation"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Destino</ion-label>
      <ion-input [(ngModel)]="destination"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Asientos Disponibles</ion-label>
      <ion-input [(ngModel)]="availableSeats" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Costo por Pasajero</ion-label>
      <ion-input [(ngModel)]="costPerPassenger" type="number"></ion-input>
    </ion-item>

    <ion-button expand="block" class="offer-btn" (click)="publicarViaje()">Publicar Viaje</ion-button>
  </div>
</ion-content>

