<header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</header>

<ion-content>
  <div class="form-container">
    <div class="header">
      <ion-button class="back-button" (click)="goToInicio()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <h1 class="page-title">Ofrecer Vehiculo</h1>
    </div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Detalles del Viaje</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Vehículo</ion-label>
          <ion-select [(ngModel)]="selectedVehicle" name="vehicle" interface="popover" required>
            <ion-select-option *ngFor="let vehicle of registeredVehicles" [value]="vehicle">
              {{ vehicle.brand }} {{ vehicle.model }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Origen</ion-label>
          <ion-input [(ngModel)]="pickupLocation" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Destino</ion-label>
          <ion-input [(ngModel)]="destination" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Asientos Disponibles</ion-label>
          <ion-input [(ngModel)]="availableSeats" type="number" required min="1" max="4"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Costo por Pasajero</ion-label>
          <ion-input [(ngModel)]="costPerPassenger" type="number" required></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <div class="submit-button-container">
      <ion-button expand="block" (click)="publicarViaje()" 
        [disabled]="isVehicleOffered || !selectedVehicle || !pickupLocation || !destination || !availableSeats || !costPerPassenger || viajeEnCurso">
        Publicar Viaje
      </ion-button>

      <ion-text color="danger" *ngIf="viajeEnCurso" class="vehicle-published-message">
        <p>Ya tienes un viaje en curso. No puedes ofrecer otro vehículo.</p>
      </ion-text>
      <ion-text color="danger" *ngIf="availableSeats > 4">
        <p>El número de asientos no puede ser mayor a 4.</p>
      </ion-text>
    </div>
  </div>
</ion-content>
