<ion-content>
  <!-- Botón de retroceso y título -->
  <div class="header">
    <ion-button class="back-button" (click)="goToInicio()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <h1 class="page-title">Historial de Pedidos</h1>
  </div>

  <!-- Lista de pedidos -->
  <div class="order-container">
    <ion-card *ngFor="let pedido of pedidos" class="order-card">
      <ion-card-header>
        <ion-card-title>{{ pedido.title }}</ion-card-title>
        <div class="rating-stars">
          <ion-icon *ngFor="let star of pedido.rating" name="star" class="star"></ion-icon>
        </div>
      </ion-card-header>
      <ion-card-content>
        <div class="order-details">
          <p><ion-icon name="person-outline" class="icon"></ion-icon><strong>Pedido por:</strong> {{ pedido.nombreUsuario }}</p>
          <p><ion-icon name="car-outline" class="icon"></ion-icon><strong>Modelo:</strong> {{ pedido.modeloAuto }}</p>
          <p><ion-icon name="calendar-outline" class="icon"></ion-icon><strong>Fecha:</strong> {{ pedido.fechaPedido }}</p>
          <p><ion-icon name="flag-outline" class="icon"></ion-icon><strong>Estado:</strong> <strong>{{ pedido.estado }}</strong></p>
        </div>
        <ion-item lines="none" class="price-item">
          <ion-label><strong>Precio:</strong> {{ pedido.price }}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
