<header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="header">
    <ion-button class="back-button" (click)="goToInicio()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <h1 class="page-title">Transporte Disponible</h1>
  </div>


  <div class="search-container">
    <ion-item class="search-input">
      <ion-label position="floating">Lugar de salida</ion-label>
      <ion-input [(ngModel)]="pickupLocation"></ion-input>
    </ion-item>

    <ion-item class="search-input">
      <ion-label position="floating">Destino</ion-label>
      <ion-input [(ngModel)]="destination"></ion-input>
    </ion-item>

    <ion-button expand="block" class="search-btn" (click)="buscarViajes()">Buscar Transporte</ion-button>
  </div>

  <div *ngIf="viajesDisponibles.length > 0" class="results-container">
    <ion-card *ngFor="let viaje of viajesDisponibles" (click)="solicitarAsiento(viaje)" class="viaje-card">
      <ion-card-header>
        <ion-card-title>{{ viaje.driverName }} - {{ viaje.vehicleDetails }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Origen: {{ viaje.pickupLocation }}</p>
        <p>Destino: {{ viaje.destination }}</p>
        <p>Asientos disponibles: {{ viaje.availableSeats }}</p>
        <p>Costo por pasajero: {{ viaje.costPerPassenger }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="viajesDisponibles.length === 0 && searchAttempted" class="no-results">
    <p>No se encontraron transportes disponibles</p>
  </div>
</ion-content>


