<ion-content [fullscreen]="true" class="ion-padding">
  <div class="header">
    <ion-button class="back-button" (click)="goToInicio()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <h1 class="page-title">Transporte Disponible</h1>
  </div>

  <div class="search-container">
    <ion-item class="search-input">
      <ion-label position="floating">Lugar de salida</ion-label>
      <ion-input [(ngModel)]="pickupLocation"></ion-input>
    </ion-item>

    <ion-item class="search-input">
      <ion-label position="floating">Destino</ion-label>
      <ion-input [(ngModel)]="destination"></ion-input>
    </ion-item>

    <ion-button expand="block" class="search-btn" (click)="buscarViajes()">Buscar Transporte</ion-button>
  </div>

  <div *ngIf="viajesDisponibles.length > 0" class="results-container">
    <ion-card *ngFor="let viaje of viajesDisponibles" class="viaje-card">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="car-sport-outline" slot="start"></ion-icon>
          {{ viaje.driverName }} - {{ viaje.vehicleDetails }}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="viaje-info">
          <ion-icon name="location-outline" class="viaje-icon"></ion-icon>
          <p>Origen: {{ viaje.pickupLocation }}</p>
        </div>

        <div class="viaje-info">
          <ion-icon name="navigate-outline" class="viaje-icon"></ion-icon>
          <p>Destino: {{ viaje.destination }}</p>
        </div>

        <div class="viaje-info">
          <ion-icon name="people-outline" class="viaje-icon"></ion-icon>
          <p>Asientos disponibles: {{ viaje.availableSeats }}</p>
        </div>

        <div class="viaje-info">
          <ion-icon name="cash-outline" class="viaje-icon"></ion-icon>
          <p>Costo por pasajero: {{ viaje.costPerPassenger }}</p>
        </div>

        <ion-button expand="full" (click)="confirmarCompra(viaje)">Agregar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="viajesDisponibles.length === 0 && searchAttempted" class="no-results">
    <p>No se encontraron transportes disponibles</p>
  </div>
</ion-content>
