<header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</header>

<ion-content>
  <div class="header">
    <ion-button class="back-button" (click)="goToInicio()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <h1 class="page-title">Perfil de Usuario</h1>
    <ion-button class="settings-button">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-button>
  </div>

  <!-- Tarjeta de perfil -->
  <ion-card class="profile-card">
    <ion-card-content>
      <div class="profile-details">
        <div class="avatar">
          <img src="assets/img/Leyton.png" alt="Avatar">
        </div>
        <div class="profile-info">
          <h2>{{nombre_usuario}}</h2>
          <p><ion-icon name="location-outline"></ion-icon> {{lugar_origen}}</p>
        </div>
      </div>
      <!-- Datos de seguidores -->
      <div class="profile-stats">
        <div class="stat">
          <p>Seguidores</p>
          <h3>2,703</h3>
        </div>
        <div class="stat">
          <p>Siguiendo</p>
          <h3>1,506</h3>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <div class="icon-cards">
    <ion-card class="icon-card">
      <ion-icon name="help-circle-outline"></ion-icon>
      <h3>Ayuda</h3>
    </ion-card>
    <ion-card class="icon-card">
      <ion-icon name="card-outline"></ion-icon>
      <h3>Pago</h3>
    </ion-card>
    <ion-card class="icon-card">
      <ion-icon name="analytics-outline"></ion-icon>
      <h3>Actividad</h3>
    </ion-card>
  </div>
  
  <!-- Datos adicionales (fuera de la tarjeta) -->
  <div class="additional-info-container">
    <h3 class="additional-info-title">Información Adicional</h3>
    <div class="additional-info">
      <p><ion-icon name="briefcase-outline"></ion-icon> Ingeniero Informático</p>
      <p><ion-icon name="time-outline"></ion-icon> 1 año de experiencia</p>
      <p><ion-icon name="mail-outline"></ion-icon> Miguel.L&#64;cochino.com</p>
    </div>
  </div>


</ion-content>
