<header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</header>

<ion-content>
  <div class="header">
    <ion-button class="back-button" (click)="goToInicio()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <h1 class="page-title">Perfil de Usuario</h1>
    <ion-button class="settings-button" (click)="goToConfiguracion()">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-button>
  </div>

  <!-- Tarjeta de perfil -->
  <ion-card class="profile-card">
    <ion-card-content>
      <div class="profile-details">
        <div class="avatar" (click)="fileInput.click()">
          <input type="file" (change)="onFileSelected($event)" #fileInput style="display: none;" />
          <ng-container *ngIf="profileImage; else uploadIcon">
            <img [src]="profileImage" alt="Avatar" />
          </ng-container>
          <ng-template #uploadIcon>
            <ion-icon name="camera-outline" class="upload-icon"></ion-icon>
          </ng-template>
        </div>        
        <div class="profile-info">
          <h2>{{nombre_usuario}}</h2>
          <p><ion-icon name="location-outline"></ion-icon> {{lugar_origen}}</p>
        </div>
      </div>
      <!-- Datos de seguidores -->
      <div class="profile-stats">
        <div class="stat">
          <p>Seguidores</p>
          <h3>2,703</h3>
        </div>
        <div class="stat">
          <p>Siguiendo</p>
          <h3>1,506</h3>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <div class="icon-cards">
    <ion-card class="icon-card" (click)="goToAyuda()    ">
      <ion-icon name="help-circle-outline"></ion-icon>
      <h3>Ayuda</h3>
    </ion-card>
    <ion-card class="icon-card" (click)="goToPago()">
      <ion-icon name="card-outline"></ion-icon>
      <h3>Pago</h3>
    </ion-card>
    <ion-card class="icon-card" (click)="goToActividad()">
      <ion-icon name="analytics-outline"></ion-icon>
      <h3>Actividad</h3>
    </ion-card>
  </div>
  
  <!-- Datos adicionales (fuera de la tarjeta) -->
  <div class="additional-info-container">
    <h3 class="additional-info-title">Información Adicional</h3>
    <div class="additional-info">
      <p><ion-icon name="briefcase-outline"></ion-icon> {{ocupacion || 'Click para agregar ocupación'}} <ion-icon name="create-outline" (click)="openEditModal()"></ion-icon></p>
      <p><ion-icon name="time-outline"></ion-icon> {{experiencia || 'Click para agregar experiencia'}} <ion-icon name="create-outline" (click)="openEditModal()"></ion-icon></p>
      <p><ion-icon name="mail-outline"></ion-icon> {{correo || 'Click para agregar correo'}} <ion-icon name="create-outline" (click)="openEditModal()"></ion-icon></p>
    </div>
  </div>

  <!-- Modal -->
  <ion-modal [isOpen]="isModalOpen" (didDismiss)="dismissModal()">
    <ng-template>
      <div class="modal-content">
        <h3>Editar Información</h3>
        <ion-item>
          <ion-icon name="briefcase-outline" slot="start"></ion-icon>
          <ion-input placeholder="Ingresa tu ocupación" [(ngModel)]="ocupacion"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="time-outline" slot="start"></ion-icon>
          <ion-input placeholder="Años de experiencia" [(ngModel)]="experiencia"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-input placeholder="Ingresa tu correo" [(ngModel)]="correo"></ion-input>
        </ion-item>
        <ion-button expand="full" (click)="saveInformation()">Guardar Información</ion-button>
        <ion-button expand="full" (click)="dismissModal()">Cancelar</ion-button>
      </div>
    </ng-template>
  </ion-modal>
    

</ion-content>
