<header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="header-container">
    <ion-icon name="car-sport-outline" class="bienvenido-icon"></ion-icon>
    <div class="bienvenido-text">
      <ion-label class="bienvenido-label">
        Bienvenido a <span class="app-name">TeLlevoAPP</span>, <span class="nombre-usuario">{{nombre_usuario}}</span>
      </ion-label>
    </div>
    <ion-icon name="person-circle-outline" class="bienvenido-icon" (click)="goToProfile()"></ion-icon>
  </div>

  <div class="imagen-container">
    <img src="assets/img/imagen_inicio.jpg" alt="Imagen de transporte" class="imagen-inicio">
  </div>

  <div class="address-container">
    <ion-item>
      <ion-label position="floating">¿Dónde te recogemos?</ion-label>
      <ion-input [(ngModel)]="address" placeholder="Ingresa tu dirección"></ion-input>
    </ion-item>
  </div>

  <div class="actions-container">
    <ion-button expand="block" color="primary" (click)="ofrecerViaje()">
      Ofrecer mi vehículo
    </ion-button>
    <ion-button expand="block" color="secondary" (click)="buscarTransporte()">
      Buscar transporte disponible
    </ion-button>
  </div>
</ion-content>

